<!-- /snippets/social-sharing.liquid -->
<ul class="social-sharing">

  <li>
    <a target="_blank" href="https://www.facebook.com/Maztermind-112243866985479/" class="btn btn--small btn--share share-facebook">
      {% include 'icon-facebook' %}
      <span class="share-title" aria-hidden="true">Facebook</span>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.instagram.com/maztermindvn/" class="btn btn--small btn--share share-facebook">
      <span class="icon">
      {% include 'icon-instagram-color' %}
      </span>
      <span class="share-title" aria-hidden="true">Instagram</span>
    </a>
  </li>

</ul>
