<div class="page-width" id="partner-page">
  <div class="section-header text-center">
    <h1>Collaboration</h1>
    <!-- <div class="section-header__subtitle">với chúng tôi</div> -->
  </div>
  <div class="partner__wrapper">
    <div id="business_gifts" class="partner__item">
      <div class="grid">

        <div class="grid__item partner__item-image one-whole medium-up--one-half">
          <img src="{{ '1_40e4a184-7545-49d6-aea5-5cb8ffc9bd23.jpg?v=1618237048' | file_img_url: '600x' }}" alt="">
        </div>
        <div class="grid__item partner__item-info-wrapper one-whole medium-up--one-half">
          <div class="partner__item-info">
            <h4 class="partner__item-name">Business Gifts</h4>
            <div class="partner__item-text">Receiving a gift is a powerful experience; it creates a sense of connection to the giver and can create positive associations with a person or a brand. We work closely with some of the world’s leading brands to create bespoke games, and unique gift sets. Maztermind offers a surprising collection of board games unlike anything else.</div>
          </div>
        </div>
      </div>
    </div>
    <div id="wholesale_partner" class="partner__item">
      <div class="grid">

        <div class="grid__item partner__item-image one-whole medium-up--one-half">
          <img src="{{ '2_4abe19aa-6482-4677-935a-8e730462fa90.jpg?v=1618237048' | file_img_url: '600x' }}" alt="">
        </div>
        <div class="grid__item partner__item-info-wrapper one-whole medium-up--one-half">
          <div class="partner__item-info">
            <h4 class="partner__item-name">Wholesale Partner</h4>
            <div class="partner__item-text">Finding unique items to sell and add to your store collection? Look no further. Not only providing quality products but does Maztermind also is willing to support wholesale partner with significant discounts.</div>
          </div>
        </div>
      </div>
    </div>
    <div id="design_request" class="partner__item">
      <div class="grid">

        <div class="grid__item partner__item-image one-whole medium-up--one-half">
          <img src="{{ '3_d09bae04-97be-44bf-b9cb-60c068774a50.jpg?v=1618237048' | file_img_url: '600x' }}" alt="">
        </div>
        <div class="grid__item partner__item-info-wrapper one-whole medium-up--one-half">
          <div class="partner__item-info">
            <h4 class="partner__item-name">Design Upon Request</h4>
            <div class="partner__item-text">
              As a guarantee for the gift’s message to be effectively delivered to the recipients, Maztermind is pleased to offer a custom-made design services that make a unique difference to enhance the sender’s message and the receiver’s happiness.<br/><br/>
              Please contact us at <a href="mailto:sale@maztermind.vn">sales@maztermind.vn</a> for more information.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner__contact">
    Please contact us at sales@maztermind.vn for the best support. 
  </div>
  <div class="partner__list">
    <h3>Our Partners</h3>
    <ul>
      <li><img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/Vietcetera.png?v=1618827969" alt=""></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/lusine_1.png?v=1618827968" alt=""></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/silk_path_1.png?v=1618827968" alt=""></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/Swancity.png?v=1618827969" alt=""></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/ecopark.png?v=1618827969" alt=""></li>
      <li><img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/Fusion.png?v=1618827969" alt=""></li>
    </ul>
  </div>
</div>