<div class="page-width" id="contact-page">
  <div class="section-header text-center">
    <span class="subtitle">Contact</span>
    <h1>Information</h1>
  </div>
  <div class="section-info">
    <div class="info-wrapper">
      <h4 class="info-label">Contact</h4>
      <p>
        Hotline: 077 489 1279 <br/>
        Thời gian làm việc: 8:00 - 18:00, Thứ 2 - Thứ 6
      </p>
    </div>
    <div class="info-wrapper">
      <h4 class="info-label">Email</h4>
      <p>
        CSKH: info@maztermind.vn <br/>
        Truyền thông: marketing@maztermind.vn
      </p>
    </div>
  </div>
  <div class="section-showroom">
    <h4>Sản phẩm được bày bán tại <br/>các cửa hàng  The Craft House</h4>
    <div class="grid">
      <div class="grid__item one-whole large-up--one-half">
        {% section 'store-photo' %}
      </div>
      <div class="grid__item one-whole large-up--one-half">
        <ul class="showroom-list">
          <li>
            <strong>1. The Craft House Nguyễn Trãi - Maztermind Showroom</strong> <br/>
            Lầu 1, 28 Nguyễn Trãi, Phường Bến Thành, Quận 1, TP.HCM. <br/>
            (+84) 909 991 042
          </li>
          <li>
            <strong>2. The Craft House Central Nguyễn Huệ</strong> <br/>
            107 Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP.HCM. <br/>
            (+84) 384 789 763
          </li>
          <li>
            <strong>3. The Craft House Đồng Khởi</strong> <br/>
            32 Đồng Khởi, Phường Bến Nghé, Quận 1, TP.HCM. <br/>
            (+84) 919 962 320
          </li>
          <li>
            <strong>4. The Craft House Nhà Chung</strong> <br/>
            19 Nhà chung, Phường Hàng Trống, Quận Hoàn Kiếm, Hà Nội. <br/>
            (+84) 2462 920 919
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
