<div class="page-width" id="guarantee-page">
  <div class="section-header text-center" style="margin-bottom: 55px;">
    <h1>Commitment</h1>
    <!-- <div class="section-header__subtitle">của chúng tôi</div> -->
  </div>
  <div class="guarantee__wrapper">
    <div id="freeship" class="guarantee__item">
      <div class="guarantee__item-image">
        <img src="https://cdn.shopify.com/s/files/1/0559/3481/2357/files/z2500040674909_5ab6c1400828f02f9d569f35940a8924.jpg?v=1621410993" alt="">
      </div>
      <div class="guarantee__item-info-wrapper">
        <div class="guarantee__item-info">
          <h4 class="guarantee__item-name">Custom Engraving</h4>
          <div class="guarantee__item-text">
            <p>A gift that has been custom engraved offering a personal touch to make your holiday unforgettable. A little something that will remain etched in your loved ones' minds. Maztermind wants to help you deliver the premier gift to stand the test of the time. Choose the item you want to engrave, leave a note, and let us take care of the rest.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="thu_cong" class="guarantee__item">
      <div class="guarantee__item-image">
        <img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/tool-box.png?v=1613577751" alt="">
      </div>
      <div class="guarantee__item-info-wrapper">
        <div class="guarantee__item-info">
          <h4 class="guarantee__item-name">Proudly Crafted In Vietnam</h4>
          <div class="guarantee__item-text">
            <p>From the soul of designers to the hands of craftsmen in a small corner of Vietnam, we take great pride in designing meaningful aesthetics and renovate your all-time favorite board games. As a team of more than 70 artisans working at the factory in Binh Chanh district, we craft all the stages of the production, from molding to honing. Every single step is done meticulously by skilled hands, which means every single piece is individually unique <a
                href="https://www.youtube.com/watch?v=z0Vpk5msINw">here</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="than_thien_moi_truong" class="guarantee__item">
      <div class="guarantee__item-image">
        <img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/eco-friendly.png?v=1613577751" alt="">
      </div>
      <div class="guarantee__item-info-wrapper">
        <div class="guarantee__item-info">
          <h4 class="guarantee__item-name">Eco-friendly Materials</h4>
          <div class="guarantee__item-text">
            <p>Maztermind board games are produced from sturdy and durable materials such as brass, cement and will soon include ceramic, lacquer, and so forth. These materials can stand the test of time, reduce waste, and preserve product quality.</p>
            <p>As we care about our planet as much as you do, we are willing to provide a warranty period of up to 12 months and a flexible Returns & Exchange policy for any incomplete or damaged items. </p>
            <p>Discover more of Maztermind's unique materials <a
                href="https://www.maztermind.com/collections/boardgame">here</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="bao_hanh" class="guarantee__item">
      <div class="guarantee__item-image">
        <img src="https://cdn.shopify.com/s/files/1/0353/9471/5692/files/heart.png?v=1613577751" alt="">
      </div>
      <div class="guarantee__item-info-wrapper">
        <div class="guarantee__item-info">
          <h4 class="guarantee__item-name">Up To 12 Months Warranty</h4>
          <div class="guarantee__item-text">
            <p>We want you to love what you ordered, but if something is not right, let us know. Every product with the original brand logo and packaging is under our warranty for up to 12 months. For the process, your order will be eligible for returns and exchange with a valid payment invoice or confirmation email of purchase. If you have any more questions, please don’t hesitate to contact us via email at info@maztermind.vn to receive a response within 07 business days.</p>
            <p>Details of Maztermind's warranty are provided <a
                href="https://www.maztermind.com/pages/warranty-policy">here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>